<meta http-equiv="refresh" content="10;url=http://127.0.0.1:8000/User/" />


<style>
    .red-square {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</style>




<div class="red-square" style="height:550px;align-self:center;">
    <div class="centered">

        <div style="margin-left:170px; height:300px;width:100%;background-repeat: no-repeat;background-image: url('http://2.bp.blogspot.com/-enqX8j1tOkU/T9T8DpvfOKI/AAAAAAAABqw/RhQijszwnTg/s1600/sip+bounced.png');">


        </div>
        <div>
            <h1>&emsp;&emsp;&emsp;&emsp;   INSUFFICIENT FUND</h1>
            <h2>RECHARGE AT NEAREST GOVERNMENT OFFICE</h2>
  
        </div>
    </div>
</div>

