{% extends 'User/base.html'%}
{% block content %}
    <meta http-equiv="refresh" content="10;url=http://127.0.0.1:8000/accounts/login" />
<html>
<head>

</head>
<body>
    <div class="d-flex justify-content-center">
        <h1>Transaction</h1>
    </div>
    <div class="d-flex justify-content-center">
        <table id="customers">
            <tr>
                <th>SR NO</th>
                <th>Name</th>
                <th>unit</th>
                <th>per unit rate</th>
                <th>billed amount</th>
                <th>available quata</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Maria Anders</td>
                <td>5</td>
                <td>5</td>
                <td>25</td>
                <td>5</td>


            </tr>
            <tr>
                <td>1</td>
                <td>Maria Anders</td>
                <td>5</td>
                <td>5</td>
                <td>25</td>
                <td>5</td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td></td>
                <td>total amount</td>
                <td></td>
                <td></td>

                <td>23</td>
            </tr>
        </table>

    </div>
    <div class="d-flex justify-content-center">
        <h2>bill will be sent on registered mail shortly</h2>
    </div>
    
</body>
</html>


{% endblock %}