{% extends 'Government/base.html'%}
{% block content %}
 {% load static %}
<title>Inspection</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" media="screen" />

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Circular report</h2>
    <table class="table">
        <tr>
            <th>SR NO</th>
            <th>FIELD</th>
            <th>VALUE</th>
        </tr>
        <tr>
            <td></td>
            <td>Circular ID</td>
            <td>{{ form.Cid }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Name</td>
            <td>{{ form.Cname }}</td>
        </tr>
        <tr>
            <td></td>
            <td>File</td>
            <td>{{ form.Cfile}}</td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td><input type="submit" class="btn btn-primary btn-lg btn-block" value="ADD"></td>
        </tr>
    </table>
   


</form>



{% endblock %}