{% extends 'Government/base.html' %}
{% load bootstrap %}
{% block content %}

  {% load static %}
<title>Complain View</title>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" media="screen" />
</head>
<h5>Distributor Complain &emsp;&emsp; &emsp;&emsp;Distributor ID={{Dist.D_ID}}&emsp;&emsp; &emsp;&emsp;Distributor Name={{Dist.D_name}}</h5>

<table class="table">
    <thead>
        <tr>
            <th>SR NO</th>
            <th>Ration iD</th>
            <th>Date</th>
            <th>status</th>
            <th>complain List</th>
        </tr>
    </thead>
    <tbody>
        {%  for complain in Dist.D_Complain %}
        <tr>
            <td></td>
            <td>{{complain.Ration_id}}</td>
            <td>{{complain.Date }}</td>
            <td>{{complain.status}}</td>
            <td>
                <ul class="list-group list-group-flush">
                    {% for comp in complain.comp %}
                    <li class="list-group-item">{{ comp.complain }}</li>
                    {% endfor%}

                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}