{% extends 'Government/base.html'%}

{% block content %}
  {% load static %}
<title>Search Distributor</title>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" media="screen" />
</head>

<h2>Distributor List</h2>

<form method="get">
    <div class="well">
        <h4 style="margin-top: 0">Filter</h4>


        <table class="table">
            <tr>
                <td></td>
                <th><label for="id_D_ID__icontains">ID:</label></th>
                <th><label for="id_D_name__exact">Name:</label></th>
                <th><label for="id_D_PIN__icontains">PIN:</label></th>
                <th><label for="id_D_Locality__icontains">Locality code:</label></th>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input id="id_D_ID__icontains" name="D_ID__icontains" type="text">

                </td>
                <td>
                    <input id="id_D_name__icontains" name="D_name__icontains" type="text">

                </td>
                <td>
                    <input id="id_D_PIN__icontains" name="D_PIN__icontains" type="text">
                </td>
                <td>
                    <input id="id_D_Locality__icontains" name="D_Locality__icontains" type="text">
                </td>
            </tr>






        </table>


        <button type="submit" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>SR NO</th>
            <th>ID</th>
            <th>Name</th>
            <th>PIN code</th>
            <th>LocalityCode</th>
            <th>Address</th>
            <th>Rice Stock</th>
            <th>Wheat Stock</th>
            <th>Kerosene Stock</th>
        </tr>
    </thead>
    <tbody>
        {%  for circular in filter.qs %}
        <tr>
            <td></td>
            <td>{{circular.D_ID}}</td>
            <td>{{circular.D_name}}</td>
            <td>{{circular.D_PIN}}</td>
            <td>{{circular.D_Locality}}</td>
            <td>{{circular.D_Address}}</td>
            {% for x in  circular.D_Stock %}
            <td>{{x.C_Current}}</td>
            {%  endfor %}

        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}