<style>
    .red-square {

 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


</style>


<meta http-equiv="refresh" content="10;url=http://127.0.0.1:8000/accounts/login/">

<div  class="red-square" style="height:550px;align-self:center;">
    <div class="centered">

        <div style="height:300px;width:100%;background-repeat: no-repeat;background-image: url('https://i.pinimg.com/originals/25/93/b2/2593b2051c2aa3dc6e5512c2265dfbae.jpg');">


        </div>
        <div>
           
            <h1>You Have Been Logged Out</h1>
        </div>
    </div>
</div>
