{% extends 'Government/base.html'%}
{% block content %}
<html>
<head>
</head>
<body>
    <h1>MAnage </h1>
    <a href="usermanage/" type="button" class="btn btn-primary btn-lg btn-block">Create rationCard</a>
    <a href="usermanage/" type="button" class="btn btn-primary btn-lg btn-block">ADD person</a>
    <a href="menu/rationinfo" type="button" class="btn btn-primary btn-lg btn-block">refil ration</a>
    <a href="menu/rationinfo" type="button" class="btn btn-primary btn-lg btn-block">add balance</a>
</body>

</html>


{% endblock %}